.header{
    width:100%;
    background-color: black;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    font-size: calc(10px + 2vmin);
    color: white;
}
.header figure{
    float: left;
    width:15%;
    border: 2px solid red;
}

.header img{
    width: 100%;
   
}

.header ul{
    border: 2px solid red;
}

.header ul li{
    display: inline;
    list-style: none;
    padding: 2%;
}
