.form{
    width:25%;
    margin-left: 30%;

    background-color: #9b92e4;
    font-size: large;
    color:#77170a;

}

.legend{
    text-align: center;
    color: #77170a;
}


.dropdown-demo .p-dropdown {
    width: 14rem;
    background-color: orangered;
}

.dropdown-demo .country-item-value img.flag {
    width: 17px;
}


.layout
{
    background-color: #282c34;
    min-height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: left;
    font-size: calc(10px + 2vmin);
    color: white;
    margin-right:10%;
}
